
span.calendar_description {
    color: red;
}
div.btn_frame {
    text-align: center;
    margin: 30px 0px;
}

button[name=update_schedule] {
    border-radius: 0px;
    box-shadow: 4px 4px 4px 0px #515151;
    padding: 0.375rem 0.75rem;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color: #0f2b7e;
    border-color: #0f2b7e;
    width: 15rem;
    border: 2px solid #0f2b7e;
}

/*
a.fc-col-header-cell-cushion {
    cursor: pointer;
}*/

div.fc-event-main {
    cursor: pointer;
}
#calendar {
    height: 450px;
}


/* スケジュールの幅を100%にする */
.fc .fc-scrollgrid-section table {
    width: 100% !important;
}
.fc .fc-timegrid-body {
    width: 100% !important;
}
.fc .fc-scrollgrid-section-body table, .fc .fc-scrollgrid-section-footer table {
    width: 100% !important;
}

